<div class="card">
  <img class="card-img-top" src="<%= @event.image %>" alt="<%= @event.title %>">
  <div class="card-block">
    <h2 class="card-title"><%= @event.title %></h2>
    <p class="card-text"><%= @event.description %></p>
    <%= render template: "events/components/meta", locals: {event: @event} %>
    <%= link_to "Link", @event.url, class: "btn btn-primary"  %>
    <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning"  %>
    <%= link_to 'Delete', event_path(@event),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger"%>
  </div>
</div>