<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title><%= content_for?(:title) ? content_for(:title) : site_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-main">
      <h1 class="navbar-brand">
        <img src="<%= image_path('logo-64.png') %>" width="30" height="30" class="d-inline-block align-top" alt="">
        <%= link_to site_name, '/' %>
      </h1>
      <%= link_to 'Create Event', new_event_path, class: "btn btn-outline-primary float-xs-right" %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
